<template>
  <router-view></router-view>
</template>

<script>
export default {
    async mounted() {
        await this.onIsLogued();
    },
    methods: {
        async onIsLogued() {
            await this.$axios.get('auth/is-logued').then(response => {
                const data = response.data;
                if (data.success) {
                    this.$router.push({ name: 'dashboard' });
                } else {
                    this.$router.push({ name: 'login' });
                }
            });
        }
    }
}
</script>
