<template>
  <form @submit.prevent="onSubmit">
    <el-dialog
      :title="title"
      :visible.sync="show"
      width="400px"
      :before-close="onClose"
      @open="onOpen"
      @opened="onOpened"
    >
      <div class="form-group">
        <label>Nombre del sitio</label>
        <el-input
          v-model="form.fqdn"
          ref="inputDomain"
          required
          :disabled="client ? true : false"
        >
          <template slot="append">.{{ urlBase }}</template>
        </el-input>
        <span class="errors" v-if="errors.fullname">{{
          errors.fullname[0]
        }}</span>
      </div>
      <div class="form-group">
        <label>Nombres del cliente</label>
        <el-input v-model="form.fullname" required></el-input>
        <span class="errors" v-if="errors.fullname">{{
          errors.fullname[0]
        }}</span>
      </div>
      <div class="form-group">
        <label>Correo electrónico</label>
        <el-input type="email" required v-model="form.email" :disabled="client ? true : false"></el-input>
        <span class="errors" v-if="errors.email">{{ errors.email[0] }}</span>
      </div>
      <div class="row" v-if="!client">
        <div class="col-6">
          <div class="form-group">
            <label>Contraseña</label>
            <el-input
              type="password"
              required
              minlength="6"
              v-model="form.password"
            ></el-input>
            <span class="errors" v-if="errors.password">{{
              errors.password[0]
            }}</span>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label>Confirmar contraseña</label>
            <el-input
              type="password"
              required
              v-model="form.password_confirmation"
            ></el-input>
          </div>
        </div>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="onClose">Cancelar</el-button>
        <el-button type="primary" native-type="submit" :disabled="loading"
          >Guardar</el-button
        >
      </span>
    </el-dialog>
  </form>
</template>

<script>
export default {
  props: {
    client: {
      type: Object,
      required: false,
      default: null,
    },
    show: {
      type: Boolean,
      required: true,
      default: false,
    },
  },
  data() {
    return {
      form: {},
      title: null,
      errors: {},
      urlBase: "",
      loading: false,
    };
  },
  mounted() {
    this.urlBase = document.domain;
  },
  methods: {
    onOpen() {
      if (this.client) {
        this.form = this.client;
        if (this.client.hostname) {
          this.form.fqdn = this.client.hostname.fqdn.split(".")[0];
        }
        this.title = "Editar cliente";
      } else {
        this.title = "Crear cliente";
        this.form = {
          fqdn: "",
          fullname: "",
          email: "",
          password: "",
          password_confirmation: "",
        };
      }
    },
    onOpened() {
      this.$refs.inputDomain.focus();
    },
    onClose() {
      this.$emit("update:show", false);
    },
    onSubmit() {
      if (!this.client) {
        this.onStore();
      } else {
        this.onUpdate();
      }
    },
    onStore() {
      this.loading = true;
      this.$http
        .post("clients/store", this.form)
        .then((response) => {
          this.$emit("onStoreUpdate", response.data.data);
          this.onClose();
        })
        .catch((error) => {
          const data = error.response;
          if (data.status === 422) {
            this.errors = data.data;
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    onUpdate() {
      this.loading = true;
      this.$http
        .put(`clients/${this.client.id}/update`, this.form)
        .then((response) => {
          this.$emit("onStoreUpdate", response.data.data);
          this.onClose();
        })
        .catch((error) => {
          const data = error.response;
          if (data.status === 422) {
            this.errors = data.data;
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>
