<template>
  <div>
    <div class="page-header pr-0">
      <h2>
        <a href="/dashboard"><i class="fas fa-tachometer-alt"></i></a>
      </h2>
      <ol class="breadcrumbs">
        <li class="active"><span>Usuarios</span></li>
      </ol>
      <div class="right-wrapper pull-right">
        <button
          type="button"
          class="btn btn-custom btn-sm mt-2 mr-2"
          @click.prevent="onCreate()"
        >
          <i class="fa fa-plus-circle"></i> Nuevo
        </button>
      </div>
    </div>
    <div class="card mb-0">
      <div class="card-header bg-info">
        <h3 class="my-0">Listado de usuarios</h3>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Cliente</th>
                <th>Dominio</th>
                <th>Fecha de regsitro</th>
                <th class="text-right">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(row, i) in records" :key="row.id">
                <td>{{ i + 1 }}</td>
                <td>{{ row.fullname }}</td>
                <td>{{ row.hostname.fqdn }}</td>
                <td>{{ row.created_at | toDate }}</td>
                <td class="text-right">
                  <button
                    type="button"
                    class="btn waves-effect waves-light btn-xs btn-info"
                    @click.prevent="onEdit(row)"
                  >
                    Editar
                  </button>
                  <button
                    type="button"
                    class="btn waves-effect waves-light btn-xs btn-danger"
                    @click.prevent="onDelete(row)"
                  >
                    Eliminar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <ModalAddEdit
      :show.sync="openModalAddEdit"
      :client="record"
      @onStoreUpdate="onStoreUpdate"
    ></ModalAddEdit>
  </div>
</template>

<script>
import ModalAddEdit from "./AddEdit";

export default {
  components: {
    ModalAddEdit,
  },
  props: {
    clients: {
      type: Array,
      default: [],
      required: true,
    },
  },
  data() {
    return {
      openModalAddEdit: false,
      resource: "users",
      record: null,
      records: [],
    };
  },
  mounted() {
    this.records = this.clients;
  },
  methods: {
    onEdit(item) {
      this.record = item;
      this.openModalAddEdit = true;
    },
    onCreate() {
      this.record = null;
      this.openModalAddEdit = true;
    },
    onStoreUpdate(item) {
      if (this.record) {
        this.records = this.records.map((c) => {
          if (c.id === item.id) {
            return item;
          }
          return c;
        });
      } else {
        this.records.unshift(item);
      }
    },
    clickDelete(id) {
      this.destroy(`/${this.resource}/${id}`).then(() =>
        this.$eventHub.$emit("reloadData")
      );
    },
    onDelete(item) {
      this.$confirm(
        `Estás seguro de eliminar al cliente seleccionado: ${item.fullname}`,
        "Atención",
        {
          confirmButtonText: "Si, eliminar",
          cancelButtonText: "Cancelar",
          type: "warning",
        }
      )
        .then(() => {
          this.$http.delete(`clients/${item.id}/delete`).then((response) => {
            this.records = this.records.filter((c) => c.id !== item.id);
            this.$message({
              type: "success",
              message: response.data.message,
            });
          });
        })
        .catch(() => {});
    },
  },
};
</script>
