<template>
  <div class="wrapper">
    <b-navbar toggleable="lg" type="dark" variant="info">
      <b-navbar-brand href="#">Prueba Facturación</b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template #button-content>
              <b-icon icon="person"></b-icon>
            </template>
            <b-dropdown-item href="#" @click.prevent="onLogut"
              >Cerrar sesión</b-dropdown-item
            >
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
  methods: {
    onLogut() {
      this.$axios.post("auth/logout").then((response) => {
        window.location.href = response.data.data.redirect;
      });
    },
  },
};
</script>
