<template>
  <div class="auth">
    <form @submit.prevent="onSubmit" class="auth__form">
      <h1 class="auth__title">PRUEBA FACTURACIÓN</h1>
      <br />
      <br />
      <h1 class="auth__subtitle">INICIAR SESIÓN</h1>
      <div class="form-group">
        <b-form-input
          v-model="form.email"
          placeholder="Correo electrónico"
          required
          type="email"
        ></b-form-input>
        <span class="errors text-left" v-if="errors.email">{{ errors.email[0] }}</span>
      </div>
      <div class="form-group">
        <b-form-input
          v-model="form.password"
          placeholder="Contraseña"
          required
          type="password"
        ></b-form-input>
        <span class="errors text-left" v-if="errors.password">{{ errors.password[0] }}</span>
      </div>
      <div class="mt-3 text-left">
        <b-button :disabled="loading" type="submit" variant="primary"
          >Login</b-button
        >
        <b-button variant="link">¿Perdiste tu contraseña?</b-button>
      </div>
    </form>
  </div>
</template>

<script>
export default {
  data() {
    return {
      form: {},
      loading: false,
      errors: {},
    };
  },
  methods: {
    onSubmit() {
      this.loading = true;
      this.$axios
        .post("auth/login", this.form)
        .then((response) => {
          this.$axios.defaults.headers.common["X-CSRF-TOKEN"] = response.data.data.csrf_token;
          this.$router.push({ name: 'dashboard' });
        })
        .catch((error) => {
          const response = error.response;
          if (response.status === 422) {
            this.errors = response.data;
          } else {
            if (response.data.message) {
              this.$bvToast.toast(response.data.message, {
                title: "Atención",
                variant: "warning",
                solid: true,
              });
            }
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>
