<template>
  <div class="content">
    <div class="content__header">
      <h2>ToDo App</h2>
      <b-button variant="primary" @click="onCreate">
        <b-icon icon="plus"></b-icon>
      </b-button>
    </div>
    <b-table striped hover :items="items" :fields="headers">
      <template #cell(completed)="data">
        <div class="text-center">
          <b-icon v-if="data.value" icon="check2"></b-icon>
          <b-icon v-else icon="x"></b-icon>
        </div>
      </template>
      <template #cell(actions)="data">
        <div class="text-center">
          <b-button variant="success" @click="onEdit(data.item)">
            <b-icon icon="pencil"></b-icon>
          </b-button>
          <b-button variant="danger" @click="onDelete(data.item)">
            <b-icon icon="trash"></b-icon>
          </b-button>
        </div>
      </template>
    </b-table>

    <b-modal id="modalAddEdit" :title="modalTitle" @show="onOpenModal">
      <div class="form-group">
        <b-form-input
          v-model="form.name"
          placeholder="Nombre corto"
          required
        ></b-form-input>
        <span class="errors text-left" v-if="errors.name">{{
          errors.name[0]
        }}</span>
      </div>
      <div class="form-group">
        <b-form-textarea
          rows="3"
          max-rows="6"
          v-model="form.description"
          placeholder="Descripción de la tarea"
          required
        ></b-form-textarea>
        <span class="errors text-left" v-if="errors.description">{{
          errors.description[0]
        }}</span>
      </div>
      <div class="form-group">
        <b-form-select v-model="form.priority" :options="priorities">
          <template #first>
            <b-form-select-option value="" disabled
              >-- Importancia --</b-form-select-option
            >
          </template>
        </b-form-select>
        <span class="errors text-left" v-if="errors.priority">{{
          errors.priority[0]
        }}</span>
      </div>
      <div class="form-group">
        <b-form-checkbox v-model="form.completed" name="check-button" switch
          >Marcar como completado</b-form-checkbox
        >
      </div>
      <template #modal-footer>
        <b-button
          size="sm"
          :disabled="loading"
          @click="onSubmit"
          variant="primary"
          >Guardar</b-button
        >
        <b-button size="sm" variant="danger" @click="onCloseModal"
          >Cancelar</b-button
        >
      </template>
    </b-modal>
  </div>
</template>

<script>
export default {
  data() {
    return {
      headers: [
        { key: "id", sortable: false },
        { key: "name", label: "Tarea", sortable: true },
        { key: "description", label: "Descripción", sortable: false },
        { key: "priority", label: "Prioridad", sortable: true },
        { key: "completed", label: "¿Completado?", sortable: false },
        { key: "actions", label: "", sortable: false },
      ],
      items: [],
      item: null,
      openModalAddEdit: false,
      modalTitle: "",
      form: {
        name: "",
        description: "",
        priority: "",
        completed: false,
      },
      errors: {},
      priorities: [
        "MUY IMPORTANTE",
        "IMPORTANTE",
        "NORMAL",
        "NO ES IMPORTANTE",
      ],
      loading: false,
    };
  },
  mounted() {
    this.onFetchData();
  },
  methods: {
    onDelete(item) {
      this.$bvModal
        .msgBoxConfirm(
          `¿estás seguro de eliminar la siguiente tarea: ${item.name}?`,
          {
            title: "Confirmar eliminación",
            size: "sm",
            buttonSize: "sm",
            okVariant: "danger",
            okTitle: "SI",
            cancelTitle: "NO",
            hideHeaderClose: false,
            centered: true,
          }
        )
        .then((value) => {
            console.log('melas');
          this.loading = true;
          this.$axios
            .delete(`dashboard/todo/${item.id}/delete`)
            .then((response) => {
              this.items = this.items.filter((i) => i.id !== item.id);
              this.loading = false;
            });
        })
        .catch((err) => {
          // An error occurred
        });
    },
    onOpenModal() {
      if (this.item) {
        this.form = { ...this.item };
      }
    },
    onEdit(item) {
      this.item = item;
      this.errors = {};
      this.modalTitle = "Editar tarea";
      this.$bvModal.show("modalAddEdit");
    },
    onFetchData() {
      this.$axios.get("dashboard/todo").then((response) => {
        this.items = response.data.data;
      });
    },
    onCloseModal() {
      this.$bvModal.hide("modalAddEdit");
    },
    onCreate() {
      this.errors = {};
      this.item = null;
      this.modalTitle = "Crear tarea";
      this.$bvModal.show("modalAddEdit");
    },
    onSubmit() {
      if (!this.item) {
        this.onStore();
      } else {
        this.onUpdate();
      }
    },
    onUpdate() {
      this.loading = true;
      this.$axios
        .put(`dashboard/todo/${this.item.id}/update`, this.form)
        .then((response) => {
          const item = response.data.data;
          this.items = this.items.map((i) => {
            if (i.id === item.id) {
              return item;
            }
            return i;
          });
          this.$bvToast.toast(response.data.message, {
            title: "Atención",
            variant: "success",
            solid: true,
          });
          this.onCloseModal();
        })
        .catch((error) => {
          const response = error.response;
          if (response.status === 422) {
            this.errors = response.data;
          } else {
            if (response.data.message) {
              this.$bvToast.toast(response.data.message, {
                title: "Atención",
                variant: "warning",
                solid: true,
              });
            }
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
    onStore() {
      this.loading = true;
      this.$axios
        .post("dashboard/todo/store", this.form)
        .then((response) => {
          this.form = {
            name: "",
            description: "",
            priority: "",
            completed: false,
          };
          this.items.unshift(response.data.data);
          this.$bvToast.toast(response.data.message, {
            title: "Atención",
            variant: "success",
            solid: true,
          });
          this.onCloseModal();
        })
        .catch((error) => {
          const response = error.response;
          if (response.status === 422) {
            this.errors = response.data;
          } else {
            if (response.data.message) {
              this.$bvToast.toast(response.data.message, {
                title: "Atención",
                variant: "warning",
                solid: true,
              });
            }
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>
