body,
html {
    font-family: "Open Sans", sans-serif !important;
    font-size: 14px;
}
.auth {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    width: 100vw;
    height: 100vh;
}
.auth__title {
    font-size: 1.25rem;
    font-weight: 700;
}
.auth__subtitle {
    font-size: 0.875rem;
    font-weight: 600;
    color: #8d8d8d;
}
.auth__form {
    border-radius: 12px;
    padding: 35px 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
    background-color: #fff;
    text-align: center;
    width: 100%;
    max-width: 340px;
}
.errors {
    font-weight: 600;
    font-size: 0.75rem;
    color: red;
    display: block;
}
.content {
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    padding: 0;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.16);
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.content__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    h2 {
        font-size: 1rem;
        margin-bottom: 0;
        font-weight: 700;
    }
}
